body{
	border : 10px solid white;
	}
.h2, .h2Curr{
	position : absolute;
	left : 20vw;
	right : 0;
	margin : auto;
	top : 0;
	width : 40vw;
	font-family : text3;
	color : black;
	font-size : 100%;
	}
.container, .containerCurr{
	background-color : #ff5500;
	position : absolute;
	top : 0;
	left : 0;
	right : 0;
	bottom : 0;
	border-radius : 30px;
	border:6px solid black;
	padding : 15px 10px;
	box-sizing : border-box;
	}
@font-face {
	font-family : text2;
	src : url(AllDayRain.ttf);
	}
@font-face {
	font-family : text3;
	src : url(bunylips.ttf);
	}
@font-face {
	font-family : text4;
	src : url(AllDayRain.ttf);
	}
#content, #contentCurr{
	display : flex;
	height : 90vh;
	width : 90vw;
	align-items : center;
	justify-content : center;
	margin : auto;
	flex-direction : column;
	}
span, #spanCurr{
	text-align : right;
	margin-right : -30vw;
	font-family : text4;
	font-size : 150%;
	color : #0e0e0c;
	}
h3{
	font-family : text2;
	color : 0e0e0c;
	text-align : center;
	font-size : 1.5rem;
	}

@media (min-width : 760px)
{
	.container, .containerCurr{
		border : 15px solid black;
		border-radius : 50px;
		}
	h3{font-size : 2.2rem;}
}